{% extends 'bmstu/base.html' %}
{% load static %}
{% block title %}BMSTU{% endblock %}
{% block button %}
<div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2">Войти</button>
    <button type="button" class="btn btn-primary">Зарегистрироваться</button>
     </div> 
{% endblock %}        

{% block content %}


<div class="find">
    <form action="{%  url 'Find_url' %}" method="get" class="main-page">
      <input type="text" name="building" placeholder="Введите">
      <button type="submit" class="btn btn-primary" >Поиск</button>
    </form>
  </div>
{% for build in find %} 
  <div class="pic"> 
    <a class="pic_href" href="{% url 'GetDetailedAboutPermit' build.build_id %}">
      <img src="{% static build.img_url %}" alt="{{ build.title }}" class="pic_img">
      <div class="pic_body">
        <h4 class="pic_title">{{ build.title }}</h5>
        <p class="pic_description">{{ build.description }}</p>
      </div>
    </a>
    <a class="delete" href="{% url 'UpdateBuild' build.build_id %}">Удалить</a>  

  {% endfor %}         
{% endblock %}





